.search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: x-large;
  border-radius: 0.5rem;
}

.results-box-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 80vh;
  margin: 0.5%;
  padding: 0rem;
  background-color: rgba(255, 255, 255, 0.959);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.results-box-container:active {
  transform: scale(0.98);
  transition: all 0.2s;
}

.results-box-container > * {
  width: 100%;
}

.results-box-container > h1 {
  display: flex;
  justify-content: center;
  color: #001244;
  font-size: 2rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
}

#finder-photo {
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  border-radius: 0.5rem 0.5rem 0 0;
}

.fav-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  padding: 0.3rem;
}

.favorite {
  background-color: #fff5ee;
}

@media screen and (min-width: 600px) {
  .results-box-container {
    width: 49%;
    height: 50vh;
    margin-bottom: 0.5rem;
  }

  .results-box-container > #finder-photo {
    min-height: 60%;
    height: 100%;
  }

  .fav-icon {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1000px) {
  .results-box-container {
    width: 24%;
  }

  .fav-icon {
    width: 40px;
    height: 40px;
  }
}
.loading-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.loading-container > img {
  transform: scale(1);
  width: 50vw;
  max-width: 200px;
  animation: appear 1s ease-in;
}

@keyframes appear {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.loading-container > h1 {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

.login-container {
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, 0.959);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container > h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
}

.login-container > p {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bolder;
}

.login-container > * {
  width: 90%;
  margin: 1rem 0.5rem;
}

.login-container > form {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container > form > * {
  width: 90%;
  margin: 1rem 0.5rem;
}

.send-button {
  width: 80%;
  padding: 0.5rem;
  background-color: #001244;
  color: white;
  border-radius: 0.5rem;
}

.header-icon {
  max-width: 80px;
  height: 80px;
}

/* *********  SECTIONS ******* */
.searcher-container {
  padding: 0.5rem;
  background-color: #001244;
}

.finder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

.header-container {
  color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container > * {
  max-width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid white;
}

.header-container > div:first-child {
  margin: auto;
  background-color: transparent;
  border: 0;
}

/* ******* PAGES ******* */
.search-section {
  display: flex;
  flex-direction: column;
}

.pets-dashboard-section {
  background-color: rgba(255, 255, 255, 0.959);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  background-color: #001244;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  max-width: 100vw;
  margin: 0;
  background-color: #001244;
}

section {
  max-width: 100vw;
}

/*# sourceMappingURL=styles.css.map */
