@use 'colors';

//Input
.search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: x-large;
  border-radius: 0.5rem;
}

//Result box
.results-box-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 80vh;
  margin: 0.5%;
  background-color: colors.$white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.results-box-container:active {
  transform: scale(0.98);
  transition: all 0.2s;
}

.results-box-container > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.results-box-container > * {
  width: 100%;
}

.results-box-container > h1 {
  display: flex;
  justify-content: center;
  color: colors.$darkerColor;
  font-size: 2rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
}

#finder-photo {
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  border-radius: 0.5rem 0.5rem 0 0;
}

.fav-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  background-color: white;
  padding: 0.3rem;
}

.favorite {
  background-color: colors.$lighterColor;
}

@media screen and (min-width: 600px) {
  .results-box-container {
    width: 49%;
    height: 60vh;
    margin-bottom: 0.5rem;
  }

  #finder-photo {
    min-height: 60%;
    height: 100%;
  }

  .fav-icon {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .fav-icon {
    width: 40px;
    height: 40px;
  }
}

//Loading
.loading-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.loading-container > img {
  transform: scale(1);
  width: 50vw;
  max-width: 200px;
  animation: appear 1s ease-in;
}

@keyframes appear {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.loading-container > h1 {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

//Authenticate
.login-container {
  margin-top: 10vh;
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container > h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
}

.login-container > p {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bolder;
}

.login-container > * {
  width: 90%;
  margin: 1rem 0.5rem;
}

.login-container > form {
  width: 90vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container > form > * {
  width: 90%;
  margin: 1rem 0.5rem;
}

@media screen and (min-width: 1000px) {
  .login-container {
    display: flex;
    justify-content: center;
  }

  .login-container > * {
    max-width: 50vw;
  }
}

//Send button
.send-button {
  width: 80%;
  padding: 0.5rem;
  background-color: colors.$darkerColor;
  color: white;
  border-radius: 0.5rem;
}

//Header
.header-icon {
  max-width: 80px;
  height: 80px;
}

.option-locked {
  background-color: rgba(255, 255, 255, 0.829);
}
